
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.res-card {
    width: 200px;
    height: 300px;
    padding: 5px;
    background-color: #f0f0f0;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 190px;
    height: 120px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.login-btn {
    margin-top: 18px;
    width: 80px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.filter {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.search {
    margin-right: 10px;
    
}

.search-btn {
    padding: 5px 10px;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.promoted-label{
    background-color: black;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.menu {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.category {
    background-color: gray;
    width: 50%;
    margin-left: 400px;
    margin-top: 10px;
}

.category-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}
.category-arrow {
    background-color: lightblue;
    width: 20px;
    border-radius: 20%;
}
.item-list {
    

}

.item-info {
    padding: 2px;
    margin: 2px;
    text-align: left;
    font-weight: normal;
    font-size: small;
    border-bottom: 1px solid black;
}

.item-name {
    /* margin-right: 10px; */

}

.item-price {

}

.item-header {
   
}

.item-description {

}